h1, h2, h3, h4, h5 {
}



body {
  background-color: #fff; /* ここを変更 */
  color: #333;
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-size: 25px;
}

div.alert_msg {
  margin-left: 300px;
}

div.blog_title {
  margin-left: 300px;
}

div.blog-panel {
  height: 200px;
}

div.blog-panel {
  height: 200px;
  margin: 50px 0;
  padding: 10px;
}

div.blog-panel p{
  border-style: solid;
  border-width: 2px;
}
