h1, h2, h3, h4, h5 {
}

div, p {
  border-width: 2px;
}

body {
  background-color: #fff; /* ここを変更 */
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 25px;
}

div.blog-panel {
  height: 200px;
}

div.blog-panel {
  height: 200px;
  margin: 50px 0;
  padding: 10px;
}
