/*　button~　*/
.square_btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background-color: #ff7f50;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #ff4500;
    border-radius: 3px;
}
.square_btn:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
}
/*　button~　*/

body {
  color: #333;
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-size: 25px;
}

/*　~index　*/
div.blog_title_index p,div.blog_content_index p {
  text-align: left;
  color: #696969;
  font-size: 25px;
}

div.blog_title_index2 p {
  background-color: #ffdab9;
  border: solid 5px #ff7f50;
  font-size: 27px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

div.blog_content_index2 p {
  border: solid 5px;
  border-color: #d3d3d3;
  font-size: 25px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

ul.blog-panel {
  height: 200px;
  margin: 50px 0;
  padding: 10px;
}

div.index-msg {
  text-align: left;
  margin-left: 100px;
}

div.past_blog {
  margin-top: 100px;
}
/*　~index　*/
/*　show~　*/
div.title, div.content {
  text-align: left;
  width: 70%;
  margin: 0% 15% 0% 15%;
  padding: 10px;
}

div.blog_title_show,div.blog_title_confirm {
  text-align: left;
  width: 70%;
  margin: 0% 15% 0% 15%;
  padding: 10px;
  border: solid 5px #ff7f50;
  background:#ffdab9;
  word-break: normal;
}

div.blog_content_show, div.blog_content_confirm {
  text-align: left;
  width: 70%;
  margin: 0% 15% 0% 15%;
  padding: 10px;
  border: solid 5px #ff7f50;
  background:#ffdab9;
  word-break: normal;
}

/*　show~　*/
/*　_form~　*/

div.alert_msg {
  margin: auto;
}
/*　~_form　*/
