div.container {
  height: auto !important;
  position: relative;
  padding: 0 0 100px 0;
  width: 100%;
}

header {
  position: fixed;
  width: 100%;
  background-color: #008080;
  text-align: left;
  height: 200px;
  z-index: 999;
}

div.row {
  margin: 0 auto;
  list-style: none;
  color: white;
  padding-left: 50px;
}

div.col-md-3 {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: white;
  font-size: 50px;
}

header li {
  float: left;
  margin-top: 25px;
}

header ul:after {
  content: "";
  display: block;
  clear: both;
}

footer {
  position: absolute;
  width: 100%;
  background-color: #008080;
  padding: 20px 0 10px 0;
  color: white;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  height: 100px;
}

footer p {
  font-size: 20px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
}
