div.container {
  height: auto !important;
  position: relative;
  padding: 0 0 100px 0;
  width: 100%;
}

header {
  position: fixed;
  width: 100%;
  background-color: #008080;
  height: 150px;
  padding: auto;
  z-index: 999;
  color: #fff;
}



div.header_text1 {
  text-decoration: none;
}

div.header_text2 {
  text-align: left;
  height: 150px;
  margin: 40px 0 40px 0;
}

header :after {
  content: "";
  display: block;
  clear: both;
}

footer {
  position: absolute;
  width: 100%;
  background-color: #008080;
  padding: 20px 0 10px 0;
  color: white;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  height: 100px;
}

footer p {
  font-size: 20px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
}
