<!DOCTYPE html>
<html>
<head>
  <title>Let's ブログ</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <ul>
      <li><a href="#">Let's ブログ</a></li>
    </ul>
  </header>

<%= yield %>

  <footer>
    <p>運営会社 Let's 株式会社</p>
    <p>since</p>
  </footer>

</body>
</html>
